/*                                                                                                                       
                                                                                                                      
        CCCCCCCCCCCCCHHHHHHHHH     HHHHHHHHH               AAA               RRRRRRRRRRRRRRRRR   DDDDDDDDDDDDD        
     CCC::::::::::::CH:::::::H     H:::::::H              A:::A              R::::::::::::::::R  D::::::::::::DDD     
   CC:::::::::::::::CH:::::::H     H:::::::H             A:::::A             R::::::RRRRRR:::::R D:::::::::::::::DD   
  C:::::CCCCCCCC::::CHH::::::H     H::::::HH            A:::::::A            RR:::::R     R:::::RDDD:::::DDDDD:::::D  
 C:::::C       CCCCCC  H:::::H     H:::::H             A:::::::::A             R::::R     R:::::R  D:::::D    D:::::D 
C:::::C                H:::::H     H:::::H            A:::::A:::::A            R::::R     R:::::R  D:::::D     D:::::D
C:::::C                H::::::HHHHH::::::H           A:::::A A:::::A           R::::RRRRRR:::::R   D:::::D     D:::::D
C:::::C                H:::::::::::::::::H          A:::::A   A:::::A          R:::::::::::::RR    D:::::D     D:::::D
C:::::C                H:::::::::::::::::H         A:::::A     A:::::A         R::::RRRRRR:::::R   D:::::D     D:::::D
C:::::C                H::::::HHHHH::::::H        A:::::AAAAAAAAA:::::A        R::::R     R:::::R  D:::::D     D:::::D
C:::::C                H:::::H     H:::::H       A:::::::::::::::::::::A       R::::R     R:::::R  D:::::D     D:::::D
 C:::::C       CCCCCC  H:::::H     H:::::H      A:::::AAAAAAAAAAAAA:::::A      R::::R     R:::::R  D:::::D    D:::::D 
  C:::::CCCCCCCC::::CHH::::::H     H::::::HH   A:::::A             A:::::A   RR:::::R     R:::::RDDD:::::DDDDD:::::D  
   CC:::::::::::::::CH:::::::H     H:::::::H  A:::::A               A:::::A  R::::::R     R:::::RD:::::::::::::::DD   
     CCC::::::::::::CH:::::::H     H:::::::H A:::::A                 A:::::A R::::::R     R:::::RD::::::::::::DDD     
        CCCCCCCCCCCCCHHHHHHHHH     HHHHHHHHHAAAAAAA                   AAAAAAARRRRRRRR     RRRRRRRDDDDDDDDDDDDD        
                                                                                                                      
                                                                                                                      
                                                                                                                      
                                                                                                                      
                                                                                                                      
                                                                                                                      
                                                                                                                       */

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Kopyalananlar            ║ Bunu devre dışı bırakmayınız.                                                           ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

@import "https://pranchard.github.io/Cannabis/emoji/microsoft/src/devbadge.css";

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ CSS                      ║ Kodlar!                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

:root {
	--settingsmodalbackground: transparent;
	--settingsmodalwidth: 1500px;
	--settingsmodalheight: 85vh;
}

#app-mount .baseLayer-W6S8cY {
	opacity: 1 !important;
	transform: unset !important;
	will-change: unset !important;
}
#app-mount .stop-animations * {
	transition-property: inherit !important;
	animation: inherit !important;
}
#app-mount .layer-86YKbF.stop-animations:first-child::after {
	content: "" !important;
	position: fixed !important;
	background: rgb(0, 0, 0) !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0.85 !important;
	z-index: 999 !important;
	pointer-events: none !important;
}

#app-mount .layer-86YKbF ~ .layer-86YKbF {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsmodalbackground) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF > div,
#app-mount .layer-86YKbF ~ .layer-86YKbF .standardSidebarView-E9Pc3j {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
	overflow: hidden !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .sidebar-nqHbhN {
	width: 218px !important;
	padding: 20px 6px 20px 20px !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .contentColumnDefault-3eyv5o {
	padding: 20px 40px !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .sidebar-3K3Z4C {
	height: var(--settingsmodalheight) !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .repoHeader-2KfNvH {
	max-width: calc(var(--settingsmodalwidth) - 256px) !important;;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .standardSidebarView-E9Pc3j .editor {
	height: calc(var(--settingsmodalheight) - 120px) !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V,
#app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V .tools-kIrEGr,
#app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V .container-O54IuJ,
#app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V .closeButton-PCZcma {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V {
	position: fixed !important;
	top: 22px !important;
	z-index: -1 !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .settingsToolbar-wu4yfQ {
	display: none !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .header-2Kx1US {
	max-width: calc(var(--settingsmodalwidth) - 730px) !important;
}

#app-mount .root-2zfUH6 {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsmodalbackground) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}
#app-mount .root-2zfUH6.enterDone-menWZ8 {
	transform: unset !important;
}
#app-mount .perksModal-CLcR1c {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
}
#app-mount .perksModal-CLcR1c::before {
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
}
#app-mount .perksModalContentWrapper-3RHugb {
	padding: 10px 0 10px !important;
}
#app-mount .root-2zfUH6 .perksModal-CLcR1c .carousel-3dvee9 {
	margin-left: calc(-0.5 * (100vw - var(--settingsmodalwidth))) !important;
}
#app-mount .root-2zfUH6 .closeWrapper-9ScmSq,
#app-mount .root-2zfUH6 .closeWrapper-9ScmSq .closeContent-I3JbQJ,
#app-mount .root-2zfUH6 .closeWrapper-9ScmSq .container-O54IuJ,
#app-mount .root-2zfUH6 .closeWrapper-9ScmSq .closeButton-PCZcma {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
}
#app-mount .root-2zfUH6 .closeWrapper-9ScmSq {
	position: fixed !important;
	top: 22px !important;
	z-index: -1 !important;
}

.sidebarRegionScroller-FXiQOh, .titleContainer-3fPic2, .header-JUTO-g, .contentRegion-3HkfJJ, .contentRegionScroller-2_GT_N, .scroller-3_YDR2, .powercord-entities-manage-tabs, .popoutInfo-16MuYF {
  background-color: var(--background-tertiary) !important;
}
#app-mount .app-3xd6d0 .app-2CXKsg .layers-OrUESM .sidebarRegion-1VBisG .sidebar-nqHbhN {
  width: 290px !important;
  padding-right: 40px;
  padding-left: 40px;
}
.sidebarRegion-1VBisG {
  border-right: 1px solid var(--border-color);
}
.side-2ur1Qk .item-3XjbnG, .container-1_EVMa, .accountBtnInner-3XK70s, .group-LWHoGI {
  border-radius: var(--border-radius-2);
}
.sidebarRegion-1VBisG {
  flex: 0 0 auto;
}
.contentColumn-1C7as6, .customColumn-2n-oKU, .customScroller-m1-jZn>div {
  max-width: unset !important;
}
.radioBar-3w9XY- {
  border-left: transparent;
}
.radioIconForeground-2BMavi {
  color: var(--interactive-selected);
  r: 9px;
}
.radioBar-3w9XY->svg {
  color: var(--border-color);
}
.item-2idW98[aria-checked=true] .radioBar-3w9XY->svg>:first-child {
  color: transparent !important;
}
.userSettingsSecurity-3C5Hg5 .lockIcon-1FHuKP, .avatarUploaderIndicator-2G-aIZ {
  display: none;
}
:root {
  --settings-logout: var(--button-destructive);
  --settings-guild-delete: var(--button-destructive);
  --info-warning-background: var(--background-secondary);
}
.side-2ur1Qk .item-3XjbnG[aria-controls="delete-tab"], .side-2ur1Qk .item-3XjbnG[aria-controls="logout-tab"] {
  color: var(--button-destructive) !important;
}
.side-2ur1Qk .item-3XjbnG[aria-controls="delete-tab"]:hover, .side-2ur1Qk .item-3XjbnG[aria-controls="logout-tab"]:hover {
  color: var(--button-destructive-hover) !important;
  background-color: var(--background-modifier-hover) !important;
}
.side-2ur1Qk .item-3XjbnG[aria-controls="delete-tab"]:hover::before, .side-2ur1Qk .item-3XjbnG[aria-controls="logout-tab"]:hover::before {
  --settings-icon-color: var(--button-destructive-hover);
}
.side-2ur1Qk .item-3XjbnG[aria-controls="delete-tab"]:active, .side-2ur1Qk .item-3XjbnG[aria-controls="logout-tab"]:active {
  color: var(--button-destructive-active) !important;
  background-color: var(--background-modifier-active) !important;
}
.side-2ur1Qk .item-3XjbnG[aria-controls="delete-tab"]:active::before, .side-2ur1Qk .item-3XjbnG[aria-controls="logout-tab"]:active::before {
  --settings-icon-color: var(--button-destructive-active);
}
.powercord-product, .container-2oNtJn, .attendeeCTA-1R6USz, .input-2g-os5, .item-2idW98, .powercord-entities-manage-tabs, .powercord-account, .activeGame-3ncS55, .formNotice-2nS8ey, .css-118dehu-control, .previewContainer-37c2Si, .auditLog-1NVAY0, .background-3d_SjE, .roleRow-3LoHQ6, .bd-addon-card, .membershipDialogHouse2-2W27iJ, .codeRedemptionRedirect-3SBiCp, .card-o7rAq-, .enableContainer-1J91Aq, .accountList-305sx3, .container-3EtAkD, .feature-2IUcBI, .details-1YZMDP>div, .preview-38jjUi, .profileBannerPreview-3FLQKD, .card-2ART2V:before, .card-3IImnr, .card-11DMwv, .previewContainer-1SS3uO, .error-3AuLwi, .warning-RBGtx2, .membershipDialog-2wAdpQ, .videoWrapper-1_H3B3, .background-2hs1sP, .box-J4N4jE, .info-1Vr1AV, .bannerUpsellContainer-1q83km, .avatarUploaderInnerSquare-2QeuHkin, .upsellContainer-3qKRln, .card-3JmxsM, .card-7AB4HE, .card-2b4UFN {
  border-radius: var(--border-radius-1) !important;
}
.avatarUploaderInner-yEhTv5:not(.bannerUploaderInnerSquare-1ddxpx), .codeRedemptionRedirect-3SBiCp, .auditLog-1NVAY0, .card-o7rAq-, .activeGame-3ncS55, .cardPrimary-3qRT__, .card-2gdrYL, .profileBackgroundPreview-3BVL0Q, .profileBannerPreview-3FLQKD .avatar-2PN2-j, .card-3IImnr, .card-11DMwv, .notEnoughMembersError-1KwJkE, .accountProfileCard-lbN7n-, .info-1Vr1AV, .card-3JmxsM, .card-7AB4HE, .card-2b4UFN {
  background-color: var(--background-secondary) !important;
}
.container-1_EVMa {
  background-color: var(--deprecated-text-input-bg) !important;
}
.item-2idW98[aria-checked=true] {
  background-color: var(--background-modifier-selected);
  color: var(--interactive-selected);
}
.background-3d_SjE .lookFilled-yCfaCM.colorGrey-2iAG-B {
  color: var(--text-normal);
}
.card-2ART2V:before {
  background-color: var(--background-modifier-hover) !important;
}
.contentColumnDefault-3eyv5o {
  padding: 60px 0 80px 57px;
}
.side-2ur1Qk .item-3XjbnG:not([aria-controls="Logout-tab"i]):not([aria-controls="delete-tab"])::before {
  color: var(--settings-icon-color);
}
.bd-social-logo path, .foreground-2hyALB {
  fill: var(--settings-icon-color) !important;
}
.closeButton-PCZcma {
  background-color: var(--button-background);
  border-radius: var(--border-radius-2);
}
.contentRegionScroller-2_GT_N .tools-kIrEGr {
  position: relative;
  right: 40px;
  top: -5px;
}
.sectionTitle-3j2YI1, .contentColumnDefault-3eyv5o .title-3hptVQ {
  padding-bottom: 10px;
}
.notches-2w7UZJ {
  background-image: none !important;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20'%3E%3Cpath d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
  background: var(--background-tertiary);
}
.progress-1S-TDF {
  background-color: var(--switch) !important;
}
.container-3NTP7o {
  background: var(--background-modifier-selected) !important;
}
.profileBannerPreview-3FLQKD .avatar-2PN2-j, .card-3IImnr, .card-11DMwv, .auditLog-1NVAY0, .warning-RBGtx2, .info-1Vr1AV {
  border: none;
}
.h2-1EaYVL {
  text-transform: none;
  font-size: 20px;
}
.info-1sUqUG::after {
  content: "Zelk 1.2.2";
  color: var(--text-muted);
  font-size: 12px;
  line-height: 16px;
}
div[role="radiogroup"]+div:not(.disabled-2qTmnp) label::after {
  content: "\A Enabling this setting will cause issues when using Zelk";
  white-space: pre;
  color: var(--text-danger);
  font-size: 14px;
}
div[role="radiogroup"]+.disabled-2qTmnp {
  opacity: .5;
}
.disabled-2qTmnp .title-2dsDLn, .disabled-2qTmnp .container-2nx-BQ {
  cursor: not-allowed;
}
.swatch-35F5kl {
  border-radius: var(--border-radius-2);
}
.breadcrumbArrow-1LY2zF {
  top: -4px;
  position: relative;
}
.profileBannerPreview-3_l0Wd {
  border: 1px solid var(--border-color);
}
.theme-light .side-2ur1Qk .item-3XjbnG.selected-g-kMVV::before {
  background: var(--interactive-selected) !important;
}
.item-3XjbnG .selectedBackground-1qyzak, .notice-5OG6bf {
  background: none;
}
.header-JUTO-g {
  margin-right: 0;
}
.triggerContainer-1T_TRB {
  border-color: var(--border-color) !important;
}
.input-2g-os5, .lookFilled-1GseHa.select-1Ia3hD {
  border-color: var(--background-tertiary);
}
