/* chard */

[data-author-id='571737192032894987'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="571737192032894987"] + .header-1dhDWV::before,
[data-user-id="571737192032894987"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="571737192032894987"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://obscure-git.github.io/Lavender/assets/logo.png") center/100% no-repeat;
            padding: 0px 10px 0px 10px;
            margin-right: 5px;
}

/* morru */

[data-author-id='237281326963621888'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="237281326963621888"] + .header-1dhDWV::before,
[data-user-id="237281326963621888"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="237281326963621888"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://obscure-git.github.io/Lavender/assets/logo.png") center/100% no-repeat;
            padding: 0px 10px 0px 10px;
            margin-right: 5px;
}

/* qeyri-adi */

[data-author-id='369183383097573376'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="369183383097573376"] + .header-1dhDWV::before,
[data-user-id="369183383097573376"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="369183383097573376"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://obscure-git.github.io/Lavender/assets/logo.png") center/100% no-repeat;
            padding: 0px 10px 0px 10px;
            margin-right: 5px;
}

/* elon musk */

[data-author-id='380411952666640385'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="380411952666640385"] + .header-1dhDWV::before,
[data-user-id="380411952666640385"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="380411952666640385"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://obscure-git.github.io/Lavender/assets/logo.png") center/100% no-repeat;
            padding: 0px 10px 0px 10px;
            margin-right: 5px;
}

/* tten */

[data-author-id='549317659188133928'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="549317659188133928"] + .header-1dhDWV::before,
[data-user-id="549317659188133928"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="549317659188133928"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://obscure-git.github.io/Lavender/assets/logo.png") center/100% no-repeat;
            padding: 0px 10px 0px 10px;
            margin-right: 5px;
}

/* vidar */

[data-author-id='315413107151339520'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="315413107151339520"] + .header-1dhDWV::before,
[data-user-id="315413107151339520"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="315413107151339520"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://obscure-git.github.io/Lavender/assets/logo.png") center/100% no-repeat;
            padding: 0px 10px 0px 10px;
            margin-right: 5px;
}

/* uyuyo */

[data-author-id='879770628104810548'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="879770628104810548"] + .header-1dhDWV::before,
[data-user-id="879770628104810548"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="879770628104810548"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://obscure-git.github.io/Lavender/assets/logo.png") center/100% no-repeat;
            padding: 0px 10px 0px 10px;
            margin-right: 5px;
}

/* wtfmaan */

[data-author-id='347061557471084544'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="347061557471084544"] + .header-1dhDWV::before,
[data-user-id="347061557471084544"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="347061557471084544"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://obscure-git.github.io/Lavender/assets/logo.png") center/100% no-repeat;
            padding: 0px 10px 0px 10px;
            margin-right: 5px;
}

/* sapık */

[data-author-id='925408410885840916'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="925408410885840916"] + .header-1dhDWV::before,
[data-user-id="925408410885840916"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="925408410885840916"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://obscure-git.github.io/Lavender/assets/logo.png") center/100% no-repeat;
            padding: 0px 10px 0px 10px;
            margin-right: 5px;
}

/* ilayda */

[data-author-id='462200595353174026'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="462200595353174026"] + .header-1dhDWV::before,
[data-user-id="462200595353174026"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="462200595353174026"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://obscure-git.github.io/Lavender/assets/logo.png") center/100% no-repeat;
            padding: 0px 10px 0px 10px;
            margin-right: 5px;
}

/* sexappeal emrecum */

[data-author-id='950476904396365884'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="950476904396365884"] + .header-1dhDWV::before,
[data-user-id="950476904396365884"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="950476904396365884"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://obscure-git.github.io/Lavender/assets/logo.png") center/100% no-repeat;
            padding: 0px 10px 0px 10px;
            margin-right: 5px;
}


/* gey miray */

[data-author-id='708072966264586241'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="708072966264586241"] + .header-1dhDWV::before,
[data-user-id="708072966264586241"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="708072966264586241"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://obscure-git.github.io/Lavender/assets/logo.png") center/100% no-repeat;
            padding: 0px 10px 0px 10px;
            margin-right: 5px;
}


/* kaçakçı */

[data-author-id='950851762963742730'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="950851762963742730"] + .header-1dhDWV::before,
[data-user-id="950851762963742730"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="950851762963742730"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://obscure-git.github.io/Lavender/assets/logo.png") center/100% no-repeat;
            padding: 0px 10px 0px 10px;
            margin-right: 5px;
}
