/* pilot */

[data-author-id='627240487413088286'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="627240487413088286"] + .header-1dhDWV::before,
[data-user-id="627240487413088286"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="627240487413088286"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://pranchard.github.io/Cannabis/assets/u%C3%A7ak.png") center/100% no-repeat;
            padding: 0px 12px 0px 12px;
            margin-right: 5px;
}

/* gaynes */

[data-author-id='590556811459952649'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="590556811459952649"] + .header-1dhDWV::before,
[data-user-id="590556811459952649"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="590556811459952649"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://pranchard.github.io/Cannabis/assets/gaynes.png") center/100% no-repeat;
            padding: 0px 12px 0px 12px;
            margin-right: 5px;
}

/* sap */

[data-author-id='521337407061360645'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="521337407061360645"] + .header-1dhDWV::before,
[data-user-id="521337407061360645"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="521337407061360645"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://pranchard.github.io/Cannabis/assets/sap.png") center/100% no-repeat;
            padding: 0px 12px 0px 12px;
            margin-right: 5px;
}

/* bayraklı */

[data-author-id='707293248065896468'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="707293248065896468"] + .header-1dhDWV::before,
[data-user-id="707293248065896468"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="707293248065896468"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://pranchard.github.io/Cannabis/assets/bayrakl%C4%B1.png") center/100% no-repeat;
            padding: 0px 12px 0px 12px;
            margin-right: 5px;
}

/* mor eyüp */

[data-author-id='949620098518364170'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="949620098518364170"] + .header-1dhDWV::before,
[data-user-id="949620098518364170"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="949620098518364170"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://pranchard.github.io/Cannabis/assets/hamsi.png") center/100% no-repeat;
            padding: 0px 12px 0px 12px;
            margin-right: 5px;
}
