/*                                                                                                                       
                                                                                                                      
        CCCCCCCCCCCCCHHHHHHHHH     HHHHHHHHH               AAA               RRRRRRRRRRRRRRRRR   DDDDDDDDDDDDD        
     CCC::::::::::::CH:::::::H     H:::::::H              A:::A              R::::::::::::::::R  D::::::::::::DDD     
   CC:::::::::::::::CH:::::::H     H:::::::H             A:::::A             R::::::RRRRRR:::::R D:::::::::::::::DD   
  C:::::CCCCCCCC::::CHH::::::H     H::::::HH            A:::::::A            RR:::::R     R:::::RDDD:::::DDDDD:::::D  
 C:::::C       CCCCCC  H:::::H     H:::::H             A:::::::::A             R::::R     R:::::R  D:::::D    D:::::D 
C:::::C                H:::::H     H:::::H            A:::::A:::::A            R::::R     R:::::R  D:::::D     D:::::D
C:::::C                H::::::HHHHH::::::H           A:::::A A:::::A           R::::RRRRRR:::::R   D:::::D     D:::::D
C:::::C                H:::::::::::::::::H          A:::::A   A:::::A          R:::::::::::::RR    D:::::D     D:::::D
C:::::C                H:::::::::::::::::H         A:::::A     A:::::A         R::::RRRRRR:::::R   D:::::D     D:::::D
C:::::C                H::::::HHHHH::::::H        A:::::AAAAAAAAA:::::A        R::::R     R:::::R  D:::::D     D:::::D
C:::::C                H:::::H     H:::::H       A:::::::::::::::::::::A       R::::R     R:::::R  D:::::D     D:::::D
 C:::::C       CCCCCC  H:::::H     H:::::H      A:::::AAAAAAAAAAAAA:::::A      R::::R     R:::::R  D:::::D    D:::::D 
  C:::::CCCCCCCC::::CHH::::::H     H::::::HH   A:::::A             A:::::A   RR:::::R     R:::::RDDD:::::DDDDD:::::D  
   CC:::::::::::::::CH:::::::H     H:::::::H  A:::::A               A:::::A  R::::::R     R:::::RD:::::::::::::::DD   
     CCC::::::::::::CH:::::::H     H:::::::H A:::::A                 A:::::A R::::::R     R:::::RD::::::::::::DDD     
        CCCCCCCCCCCCCHHHHHHHHH     HHHHHHHHHAAAAAAA                   AAAAAAARRRRRRRR     RRRRRRRDDDDDDDDDDDDD        
                                                                                                                      
                                                                                                                      
                                                                                                                      
                                                                                                                      
                                                                                                                      
                                                                                                                      
                                                                                                                       */

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ CSS                      ║ Kodlar!                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* pilot */

[data-author-id='627240487413088286'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="627240487413088286"] + .header-1dhDWV::before,
[data-user-id="627240487413088286"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="627240487413088286"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://pranchard.github.io/Cannabis/assets/u%C3%A7ak.png") center/100% no-repeat;
            padding: 0px 12px 0px 12px;
            margin-right: 5px;
}

/* gaynes */

[data-author-id='590556811459952649'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="590556811459952649"] + .header-1dhDWV::before,
[data-user-id="590556811459952649"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="590556811459952649"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://pranchard.github.io/Cannabis/assets/gaynes.png") center/100% no-repeat;
            padding: 0px 12px 0px 12px;
            margin-right: 5px;
}

/* sap */

[data-author-id='521337407061360645'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="521337407061360645"] + .header-1dhDWV::before,
[data-user-id="521337407061360645"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="521337407061360645"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://pranchard.github.io/Cannabis/assets/sap.png") center/100% no-repeat;
            padding: 0px 10px 0px 10px;
            margin-right: 5px;
}

/* bayraklı */

[data-author-id='707293248065896468'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="707293248065896468"] + .header-1dhDWV::before,
[data-user-id="707293248065896468"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="707293248065896468"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://pranchard.github.io/Cannabis/assets/bayrakl%C4%B1.png") center/100% no-repeat;
            padding: 0px 10px 0px 10px;
            margin-right: 5px;
}

/* mor eyüp */

[data-author-id='287573336022581248'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="287573336022581248"] + .header-1dhDWV::before,
[data-user-id="287573336022581248"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="287573336022581248"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://pranchard.github.io/Cannabis/assets/hamsi.png") center/100% no-repeat;
            padding: 0px 12px 0px 12px;
            margin-right: 5px;
}
